@font-face {
  font-family: 'Interstate';
  src: url('Interstate-Regular.woff2') format('woff2'),
      url('Interstate-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Interstate';
  src: url('Interstate-Bold.woff2') format('woff2'),
      url('Interstate-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Interstate';
  src: url('Interstate-Light.woff2') format('woff2'),
      url('Interstate-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Interstate", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  line-height: 1.428571429;
  color: #fff59b;
  background-color: #2b4154;
}
header {
  padding: 10px;
}
header img {
  width: 100%;
  max-width:600px;
  height: auto;
}
img {
  width: 100%;
  max-width:600px;
  height: auto;
}
#nothing {
  padding: 20px;
}
footer {
  border-top: 1px solid #fff59b;
  padding: 10px;
  padding-top: 5px;
  position: fixed;
  font-size: 1rem;
  bottom: 0;
  text-align: center;
  width: 100%;
}
a {
  color: #fff59b;
}
a:hover {
  color: #e64415;
  text-decoration: none;
  border-bottom: 1px #e64415;
}
#metadata {
  float:left;
  width: 50%;
  max-width: 300px;
}
#metadata #show {
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
}
#button_kinder,
#button_szene {
  float: right;
  width: 40%;
  max-width: 300px;
  cursor: pointer;
}
#playlist {
  clear: both;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#playlist h2 {
  text-transform: uppercase;
}
.playlist {
  list-style: none;
  padding: 0;
  margin: 0;
}
.playlist_item {
  padding: 5px;
  list-style:none ;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff59b;
  color: #2b4154;
  margin-bottom: 10px;
}

.rotate {
  animation: rotation 8s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}